/* 

google fonts // 

    font-family: 'Lemonada', cursive;
    font-family: 'Montserrat', sans-serif;

- - - - - - - - - - - - - - - - - - - - - - - - - - -

color theme // 

https://coolors.co/ef946c-e5ffde-7a5c61-63b4d1-004953

    --dark-salmon: #ef946cff;
    --nyanza: #e5ffdeff;
    --dark-lava: #49392cff;
    --maximum-blue: #63b4d1ff;
    --midnight-green-eagle-green: #0f4c5cff;

*/

/* General */

body {
	font-size: 62.5%;
	background: #e5ffdeff;
	color: #49392cff;
	font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lemonada', cursive;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	margin-top: 0;
	font-size: 1.75rem;
}

p {
	font-size: 1rem;
}

img {
	border: 1px solid #49392cff;
	width: 100%;
	margin: auto;
}

/* Header */

header {
	background: #ef946cff;
	width: 100%;
	border-bottom: 2px solid #49392cff;
}

header h1 {
	margin: 0 auto;
	padding: 2rem 2rem 0 2rem;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 2rem;
}

nav a {
	text-decoration: none;
	color: #49392cff;
}

.nav-button {
	width: 6rem;
	padding: 1rem;
	text-align: center;
	font-size: 1rem;
	border-radius: 25px;
}

.nav-button:hover {
	background: #63b4d1ff;
	color: #0f4c5cff;
	border: 1px solid #0f4c5cff;
}

/* Main Content */

main {
	padding: 1rem 4rem;
	margin: auto;
}

.intro {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	padding: 2rem 0;
}

.intro-img {
	width: 100%;
	margin: auto;
}

.intro-text {
	width: 100%;
	margin: auto;
	padding: 5rem 0 3rem 3rem;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.gallery-images {
	margin: 2rem 0;
	text-align: center;
}

footer {
	background: #49392cff;
	padding: 2rem;
	border-top: 2px solid #ef946cff;
	color: #ef946cff;
	text-align: center;
}

footer button {
	width: 16rem;
	height: 4rem;
	font-size: 1.25rem;
	text-align: center;
	background: #0f4c5cff;
	color: #63b4d1ff;
	border-radius: 25px;
	border: 1px solid #63b4d1ff;
}

@media only screen and (max-width: 965px) {

	header {
		text-align: center;
	}

	h1 {
		font-size: 2.5rem;
	}

	nav {
		justify-content: center;
		flex-wrap: wrap;
	}

	.intro {
		flex-wrap: wrap;
		width: 75%;
		padding: 2rem 0 0 0;
	}

	.intro-text {
		text-align: center;
		padding: 0 1rem 1rem 0;
	}

	.gallery {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.gallery-images {
		width: 45%;
		margin: 0;
	}
	.gallery-images:first-child {
		margin-top: 0;
	}
}